.entryform {
	color: hsl(120, 57%, 55%);/*Forest Green*/
	font-weight: 600;
	font-family: 'MedievalSharp';
	font-size: 1rem;
	padding: 5px;
}


.form-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}


.form-align {
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-flow: wrap;
}


.submit-align {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 2rem;
}

.submit-button {
	font-size: x-large;
	background-color: hsl(270, 97%, 11%);/*Royal Purple*/
	color: hsl(60, 87%, 87%);/*White Gold*/
	box-shadow: .1em .1em .2em -.0002em hsl(120, 57%, 55%)/*Forest Green*/;
	border-radius: 5px;
}


label {
	padding-right: 1rem;
}


textarea {
	width: 15rem;
	height: 5rem;
}


