.flexbox {
	display: flex;
	justify-content: space-evenly;
	gap: 6rem;
	margin-bottom: 5rem;
}

.cost-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mats-box {
	display: flex;
	flex-direction: column;
}


.currencies-runes-and-tears-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1.5rem;
}


.eggs-grid {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: auto;
	justify-content: stretch;
	column-gap: 1.5rem;
}

.crystals-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: auto;
	justify-content: stretch;
	column-gap: 1.5rem;
}


.fish-and-plants-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: auto;
	justify-content: stretch;
	column-gap: 1.5rem;
}


.submit {
	margin-left: calc(50% - 5rem);
	background-color: hsl(120, 87%, 15%); /*Forest Green*/
	color: hsl(60, 87%, 87%); /*White Gold*/
	height: 3rem;
	width: 10rem;
	border-radius: 0.3rem;
	cursor: pointer;
	font-size: 1.5rem;
}

ul {
	list-style-type: none;
}

li {
	color: hsl(120,87%,35%);
	font-size: 1.5rem;
}

img {
	height: 4rem;
	width: 4rem;
}

input {
	width: 8ch;
	height: 2ch;
}


.flexbox, .cost-box p {
	color: hsl(120, 87%, 35%);
	font-size: 1.5rem;
}

.form-subheader {
	font-size: 2.3rem;
}

