.flexbox {
	display: flex;
	justify-content: space-evenly;
	gap: 6rem;
	margin-bottom: 5rem;
}


.mats-box {
	display: flex;
	flex-direction: column;
}


.profits-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	justify-content: stretch;
	column-gap: 1.5rem;
}


.currencies-runes-and-tears-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	justify-content: stretch;
	column-gap: 1.5rem;
}


.eggs-grid {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: auto;
	justify-content: stretch;
	column-gap: 1.5rem;
}

.crystals-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: auto;
	justify-content: stretch;
	column-gap: 1.5rem;
}


.fish-and-plants-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: auto;
	justify-content: stretch;
	column-gap: 1.5rem;
}

.profits-header {
	font-size: 2rem;
	color: hsl(120, 87%, 35%);
}


img {
	height: 4rem;
	width: 4rem;
}


.flexbox p {
	color: hsl(120, 87%, 35%);
	font-size: 1.5rem;
}

