.flexbox {
	display: flex;
	justify-content: space-evenly;
	gap: 6rem;
	margin-bottom: 5rem;
	margin-right: 1.5rem;
}


.mats-box {
	display: flex;
	flex-direction: column;
}


.profits-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	justify-content: stretch;
	column-gap: .75rem;
}


.profits-header {
	font-size: 1.7rem;
	color: hsl(120, 87%, 35%); /* Lime Green */
}


img {
	height: 4rem;
	width: 4rem;
}


.flexbox p {
	color: hsl(60, 87%, 87%); /* White Gold */
	font-size: 1.5rem;
}

