@import url("https://fonts.googleapis.com/css2?family=MedievalSharp");


@media screen and (max-width: 944px) {
	html {
		font-size: 12px;
	}
}

@media screen and (max-width: 605px) {
	html {
		font-size: 10px;
	}
}


html {
	background-color: hsl(270, 87%, 7%);/* Royal Purple */
	font-family: "MedievalSharp";
}


.homepage_link {
	font-size: 1.5rem;
	text-align: center;
	color: hsl(120, 87%, 35%);/*Forest Green*/
}


h1 {
	font-size: 4rem; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	color: hsl(120, 87%, 35%);/*Forest Green*/
	margin-top: 3px;
	text-align: center;
} 


h2 {
	text-align: center;
	font-size: 3rem;
	font-style: normal;
	color: hsl(120, 87%, 35%);/*Forest Green*/
}


h3 { 
	font-size: 2rem; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	text-align: center;
	color: hsl(270, 87%, 88%);/*Text Purple*/
} 


h4 {
	font-size: 1.8rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 1rem;
	text-align: left;
	color: hsl(270, 87%, 35%);/* Royal Purple */
}


p { 
	font-size: 1rem; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 1.3rem; 
} 


footer {
	font-weight: 400;
	color: hsl(60, 87%, 87%);/*White Gold*/
	text-align: center;
	position: relative;
	top: 7vh;
	height: 1rem; 
	width: 100%;
}
