{% extends 'base.html' %}
{% block content %}
<header>How to use:</header>
<p>This site allows you to create spreadsheets for your potential summoning pairs given a hero you own and a list of heroes you could potentially summon with it. You will be quickly able to see which heroes will provide you with the best results given the cost of your summon and make the best value decisions possible on every summon!</p>
<p>If you like the project and you feel it gives you back value please consider giving a tip to: 0x5352d32c1a37248c381E4CE8a78Fe632DDDbdAD4</p>
<a href = "{{url_for('home')}}">return to home page</a>
{% endblock %}
