<!DOCTYPE	html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href='{{ url_for("static", filename="css/styles.css") }}' />
</head>

{% block content %}
{% endblock %}

<footer class="donation-info">
	<p>This website was built with Python and Flask. </p>
	<p>If you feel this website adds value to you and the DFK community please consider sending a donation of Crystal, Jade, or Jewel to 0x5352d32c1a37248c381E4CE8a78Fe632DDDbdAD4</p
</footer>
