<!DOCTYPE html>
{%extends "base.html" %}
<html>
	{%block content%}
	<head>
		<link rel="stylesheet" href='{{ url_for("static", filename="css/hero_form.css") }}' />
	</head>
	
	
	<form class="entryform" method = "POST" action = "/">
		{{ form.csrf_token }}
		<div class="form-center" >

			<div class="form-align">
				{{form.your_hero.label}}{{ form.your_hero(placeholder="Hero# or Hero#,Cost") }}
				<br>
				<br>
			</div>
			
			<div class="form-align">
				{{ form.your_hero_realm.label }}{{ form.your_hero_realm(style="list-style:none") }}
			</div>
			<br>
			<br>
			<br>
			<br>

			<div class="form-align">
				{{form.sd_candidate_list.label}}{{form.sd_candidate_list(placeholder="Hero# or Hero#,Cost\nHero# or Hero#,Cost\nHero# or Hero#,Cost")}}
				<br>
			</div>
			<br>
			<br>
			<br>
			<br>

			<div class="form-align">
				{{form.sd_2_candidate_list.label}}{{form.sd_2_candidate_list(placeholder="Hero# or Hero#,Cost\nHero# or Hero#,Cost\nHero# or Hero#,Cost")}} 
				<br>
			</div>
			<br>
			<br>
			<br>
			<br>

			<div class="form-align">
				{{form.cv_candidate_list.label}}{{form.cv_candidate_list(placeholder="Hero# or Hero#,Cost\nHero# or Hero#,Cost\nHero# or Hero#,Cost")}}
				<br>
			</div>
				<br>
				<br>
		</div>

		<div class="submit-align">
			<input class="submit-button" type = "submit" value = "Create Summoner Sheet">
		</div>
</form>
	{% endblock %}
</html>
