{%extends 'base.html' %}
<html>
	{%block content%}
	
	
<form class='entryform' method = "POST" action = "/">
	{{ form.csrf_token }}
	<div class='form_center'>
		<div class='form_align'>
			{{form.your_hero.label}} <br> {{ form.your_hero(size = 20) }}
			<br>
			<br>
			{{ form.your_hero_realm.label }} <br>  {{ form.your_hero_realm(style="list-style:none") }}
			{{form.your_hero_summon_cost.label}} <br> {{ form.your_hero_summon_cost(size = 20) }}
			<br>
			<br>
			<br>
			<br>
			{{form.sd_candidate_list.label}} <br> {{form.sd_candidate_list(size = 20)}}
			<br>
			{{form.sd_summon_cost.label}} <br> {{form.sd_summon_cost(size = 20)}}
			<br>
			<br>
			<br>
			<br>
			{{form.sd_2_candidate_list.label}} <br> {{form.sd_2_candidate_list(size = 20)}} 
			<br>
			{{form.sd_2_summon_cost.label}}	<br> {{form.sd_2_summon_cost(size = 20)}}
			<br>
			<br>
			<br>
			<br>
			{{form.cv_candidate_list.label}} <br> {{form.cv_candidate_list(size = 20)}}
			<br>
			{{form.cv_summon_cost.label}} <br> {{form.cv_summon_cost(size = 20)}}
			<br>
			<br>
			<input class='submit_button' type = "submit" value = "Create Summoner Sheet">
		</div>
	</div>
</form>
{% endblock %}
</html>
