<!DOCTYPE html>
{%extends "base.html"%}
{% block content %}
<html>
	
	<head>
		<title>DFK Summoner Sheet</title>
		<link rel="stylesheet" href='{{ url_for("static", filename="css/index.css") }}' />
	</head>

	<body>
		<h1>DFK Summoner Sheet</h1>

		<p class="description">If this is your first time using DFK Summoner Sheet please start with the instructions page so you can get the most out of your summoning sheet.<p>

			<div class="options-flex-container">
				<div class="options">
					<h2>Options</h2>

					<p class='main-page-link'><a href="{{ url_for('about_summoner_sheet') }}">Summoner Sheet Instructions</a></p>
				<p class='main-page-link'><a href=" {{ url_for("about_mats_mining_profitability_tool") }}">Mat Mining Profitability Tool Instructions</a></p>
					<p class='main-page-link'><a href="{{ url_for('hero_form') }}">Summoner Sheet</a></p>
					<p class='main-page-link'><a href="{{ url_for('mats_form') }}">Mat Mining Profitability Tool</a></p>

				</div>
			</div>
	</body>
</html>
{% endblock %}
