<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<html>
	<head>
		<title>Mats Entry Form</title>
		<link rel="stylesheet" href='{{ url_for("static", filename="css/mats_form.css") }}' />
		<link rel="stylesheet" href='{{ url_for("static", filename="css/media_mats_form.css") }}' />
	</head>

	<body>
		<form class="profitability-form" method="POST" action="/matsform">
			{{ form.csrf_token }}
			<h1>Mining Profitability Form</h1>


			<div class="flexbox">
					<div class="cost-box">
						<h2 class="form-subheader">Mining Transaction Cost</h2>
						<p>Kingdom:</p>
						{{ form.kingdom }}
						<p>{{ form.transaction_cost.label }}<br>{{ form.transaction_cost(placeholder=0) }}</p>
					</div>
			</div>

			<div class="flexbox">
				<div class="mats-box">
					<h2 class="form-subheader">Currencies</h2>
					<br>
					<div class="currencies-runes-and-tears-grid">
						<p><img src="{{ url_for("static", filename="images/crystal.png") }}" />{{ form.crystal.label }}<br>{{ form.crystal(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/jewel.png") }}" /> {{ form.jewel.label }}<br>{{ form.jewel(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/gold.png") }}" /> {{ form.gold.label }}<br>{{ form.gold(placeholder=0) }}</p>
					</div>
				</div>
				
				<div class="mats-box">
					<h2 class="form-subheader">Tears And Runes</h2>
					<br>
					<div class="currencies-runes-and-tears-grid">
						<p><img src="{{ url_for("static", filename="images/shvas_rune.png") }}" /> {{ form.shvas_rune.label }}<br>{{ form.shvas_rune(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/moksha_rune.png") }}"/> {{ form.moksha_rune.label }}<br>{{ form.moksha_rune(placeholder=0) }} </p>
						<p><img src="{{ url_for("static", filename="images/tears.png") }}" />{{ form.tears.label }}<br>{{ form.tears(placeholder=0) }} </p>
					</div>
				</div>
			</div>
			
			<div class="flexbox">

				<div class="mats-box">
					<h2 class="form-subheader">Eggs</h2>
					<br>
					<div class="eggs-grid">
						<p><img src="{{ url_for("static", filename="images/blue_egg.png") }}" />{{ form.blue_egg.label }}<br>{{ form.blue_egg(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/grey_egg.png") }}" />{{ form.grey_egg.label }}<br>{{ form.grey_egg(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/green_egg.png") }}" /> {{ form.green_egg.label }}<br>{{ form.green_egg(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/yellow_egg.png") }}" /> {{ form.yellow_egg.label }}<br>{{ form.yellow_egg(placeholder=0) }}</p>
					</div>
				</div>

				<div class="mats-box">
					<h2 class="form-subheader">Crystals</h2>
					<br>
					<div class="crystals-grid">
						<p><img src="{{ url_for("static", filename="images/might_crystal.png") }}" /> {{ form.might_crystal.label }}<br>{{ form.might_crystal(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/finesse_crystal.png") }}" /> {{ form.finesse_crystal.label }}<br>{{ form.finesse_crystal(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/swiftness_crystal.png") }}" /> {{ form.swiftness_crystal.label }}<br>{{ form.swiftness_crystal(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/vigor_crystal.png") }}" />{{ form.vigor_crystal.label }}<br>{{ form.vigor_crystal(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/fortitude_crystal.png") }}"/> {{ form.fortitude_crystal.label }}<br>{{ form.fortitude_crystal(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/wit_crystal.png") }}" /> {{ form.wit_crystal.label }}<br>{{ form.wit_crystal(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/insight_crystal.png") }}" /> {{ form.insight_crystal.label }}<br>{{ form.insight_crystal(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/fortune_crystal.png") }}"/> {{ form.fortune_crystal.label }}<br>{{ form.fortune_crystal(placeholder=0) }}</p>
					</div>
				</div>
			</div>
			

			<div class="flexbox">
				<div class="mats-box">
					<h2 class="form-subheader">Fish</h2>
					<br>
					<div class="fish-and-plants-grid">
						<p><img src="{{ url_for("static", filename="images/bloater.png") }}" /> {{ form.bloater.label }}<br>{{ form.bloater(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/frost_bloater.png") }}" /> {{ form.frost_bloater.label }}<br>{{ form.frost_bloater(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/ironscale.png") }}" />{{ form.ironscale.label }}<br>{{ form.ironscale(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/lantern_eye.png") }}" /> {{ form.lantern_eye.label }}<br>{{ form.lantern_eye(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/redgill.png") }}" />{{ form.redgill.label }}<br>{{ form.redgill(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/speckle_tail.png") }}" /> {{ form.speckle_tail.label }}<br>{{ form.speckle_tail(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/silverfin.png") }}" /> {{ form.silverfin.label }}<br>{{ form.silverfin(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/three_eyed_eel.png") }}" /> {{ form.three_eyed_eel.label }}<br>{{ form.three_eyed_eel(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/sailfish.png") }}" /> {{ form.sailfish.label }}<br>{{ form.sailfish(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/king_pincer.png") }}" /> {{ form.king_pincer.label }}<br>{{ form.king_pincer(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/shimmerskin.png") }}" />{{ form.shimmerskin.label }}<br>{{ form.shimmerskin(placeholder=0) }}</p>
					</div>
				</div>

				<div class="mats-box">
					<h2 class="form-subheader">Plants</h2>
					<br>
					<div class="fish-and-plants-grid">
						<p><img src="{{ url_for("static", filename="images/ragweed.png") }}" /> {{ form.ragweed.label }}<br>{{ form.ragweed(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/frost_drum.png") }}"/> {{ form.frost_drum.label }}<br>{{ form.frost_drum(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/bluestem.png") }}" /> {{ form.bluestem.label}}<br>{{ form.bluestem(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/redleaf.png") }}" /> {{ form.redleaf.label }}<br>{{ form.redleaf(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/knaproot.png") }}" />  {{ form.knaproot.label }}<br>{{ form.knaproot(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/milkweed.png") }}" /> {{ form.milkweed.label }}<br>{{ form.milkweed(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/goldvein.png") }}" /> {{ form.goldvein.label }}<br>{{ form.goldvein(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/shaggy_cap.png") }}" /> {{ form.shaggy_cap.label }}<br>{{ form.shaggy_cap(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/spiderfruit.png") }}" /> {{ form.spiderfruit.label }}<br>{{ form.spiderfruit(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/rockroot.png") }}" /> {{ form.rockroot.label }}<br>{{ form.rockroot(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/darkweed.png") }}" /> {{ form.darkweed.label }}<br>{{ form.darkweed(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/ambertaffy.png") }}" /> {{ form.ambertaffy.label }}<br>{{ form.ambertaffy(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/swift_thistle.png") }}" /> {{ form.swift_thistle.label }}<br>{{ form.swift_thistle(placeholder=0) }}</p>
						<p><img src="{{ url_for("static", filename="images/skunkshade.png") }}" /> {{ form.skunkshade.label }}<br>{{ form.skunkshade(placeholder=0) }}</p>
												
					</div>
				</div>

			</div>
			<button class="submit" type="submit">Submit</button>
		</form>
	</body>

</html>

{% endblock %}

