{% extends 'base.html' %}

{% block content %}

<style>
	.content-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		min-width: 400px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.content-table thead tr {
		background-color: #009879;
		color: #ffffff;
		text-align: center;
		font-weight: bold;
	}
	
	.content-table th, .content-table td {
		padding: 12px 15px;
		
	}
	
	.content-table tbody tr {
		border-bottom: 1px solid #dddddd;
	}

	.content-table tbody tr:nth-of-type(even) {
		background-color: #f3f3f3;
	}
	
	.content-table tbody tr:last-of-type {
		border-bottom: 2px solid #009879;
	}
</style>

<table class='content-table'>
	<thead>
		<tr>
		{% for column in table_header %}
		<th colspan = "{{header_span.get(column)}}">{{column}}</th>
		{% endfor %}
		</tr>
		<tr>
			{% for header in table_subheader %}
				<th colspan = "1">{{header}}</th>
			{% endfor %}
		</tr
	</thead>
	<tbody>
			{% for row in table_rows %}
		<tr>
			{% for item in row %}
			<td>{{item}}</td>
			{% endfor %}

		</tr>
			{% endfor %}
	</tbody>
</table>
{% endblock %}
