<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block content %}
	<head>
		<link rel="stylesheet" href='{{ url_for("static", filename="css/summon_sheet.css") }}'/>
	</head>
	<h3>All odds are displayed in decimal format.</h3>
	<table class="content-table">
		<thead>
			<tr>
			{% for column in table_header %}
			<th colspan="{{header_span.get(column)}}">{{column}}</th>
			{% endfor %}
			</tr>
			<tr>
				{% for header in table_subheader %}
				<th colspan = "1">{{header}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in table_rows %}
			<tr>
				{% for item in row %}
			<td>{{item}}</td>
				{% endfor %}

			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endblock %}
</html>
