{% extends 'base.html' %}

{% block content %}
<html>

<table class='content-table'>
	<thead>
		<tr>
		{% for column in table_header %}
		<th colspan = "{{header_span.get(column)}}">{{column}}</th>
		{% endfor %}
		</tr>
		<tr>
			{% for header in table_subheader %}
				<th colspan = "1">{{header}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
			{% for row in table_rows %}
		<tr>
			{% for item in row %}
			<td>{{item}}</td>
			{% endfor %}

		</tr>
			{% endfor %}
	</tbody>
</table>
{% endblock %}
</html>
